#containerWrapper {
    height: 100%;
}

#itemInventory {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
}

#itemImgBox {
    height: 100px;
    width: 70%;
    background-color: var(--Darkbackground);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgClue {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 70%;
    width: 100%;
}