#topNavigation {
    height: 10vh;
}

#navigationContainer {
    background-color: var(--darkBrown);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navigationContainer > div {
    width: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.topNav {
    background-color: var(--lightBrown);
    border: none;
    height: 50px;
    width: 150px;
    border-radius: 5px;
    font-size: var(--fontSizeText);
    cursor: pointer; 
}

#navigationBox {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.navigationBtn {
    position: absolute;
    width: 100px;
    padding: 7px;
    background-color: var(--lightBrown);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: var(--fontSizeText);
    cursor: pointer;
}

/* Postionening for the four buttons */
#topLeft {
    top: 120px;
    left: 10px;
}

#topRight {
    top: 120px;
    right: 10px;
}

#bottomLeft {
    bottom: 60px;
    left: 10px;
}

#bottomRight {
    bottom: 60px;
    right: 10px;
}

#iconNav {
    background-position: center;
    background-size: contain;
    height: 30px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.infoNavBtn{
    text-align: center;
}