#topNavigation {
    height: 10vh;
}

#navigationContainer {
    background-color: var(--darkBrown);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navigationContainer > div {
    width: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.topNav {
    background-color: var(--lightBrown);
    border: none;
    height: 50px;
    width: 100px;
    border-radius: 5px;
    font-size: var(--fontSizeText);
    cursor: pointer; 
}

#timeLeft {
    display: flex;
    justify-content: center;
    align-items: center;
}

#navigationBox {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.navigationBtn {
    position: absolute;
    width: 100px;
    height: 50px;
    background-color: var(--lightBrown);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: var(--fontSizeText);
    cursor: pointer;
}

/* Postionening for the four buttons */
#topLeft {
    top: 100px;
    left: 10px;
}

#topRight {
    top: 100px;
    right: 10px;
}

#bottomLeft {
    bottom: 60px;
    left: 10px;
}

#bottomRight {
    bottom: 60px;
    right: 10px;
}