#startUpContainer {
    position: relative;
    height: 100vh;
    display: flex;
    place-items: center;
    background-color: var(--Darkbackground);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: var(--gap);
}

.gameTitle {
    position: absolute;
    top: 3rem;
    font-size: var(--fontSizeHeader);
    color: var(--Text);
}

#formStartUp {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.box_input {
    width: 80vw;
    display: flex;
    position: relative;
    height: 3rem;
}

.formStartUp_input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0.15rem solid var(--borderLight);
    border-radius: var(--btnRadius);
    outline: none;
    padding: 1.25rem;
    background: none;
    color: var(--Text);
    transition: all 0.2s ease-in;
}

.formStartUp_input:hover {
    border-color: var(--lightHover);
}

.formStartUp_input:focus {
    border-color: var(--focusing);
}

.labelInput {
    position: absolute;
    left: 1rem;
    top: 0.8rem;
    padding: 0 0.5rem;
    color: var(--Text);
    transition: top 0.25s ease-in, left 0.25s ease-in, font-size 0.25s ease-in;
}

.formStartUp_input:focus ~ .labelInput {
    top: -0.5rem;
    font-size: var(--fontSizeTextSmall);
    left: 0.8rem;
    background-color: var(--Darkbackground);
}

.labelInput.active {
    top: -0.5rem;
    font-size: var(--fontSizeTextSmall);
    left: 0.8rem;
    background-color: var(--Darkbackground);
}

/* .playGame {
    position: relative;
    color: var(--Text);
    outline: none;
    background: none;
    border: 0.15rem solid var(--borderLight);
    border-radius: var(--btnRadius);
    cursor: pointer;
    padding: 0.8rem;

    transition: border-color 0.4s ease-in;
} */

/* .playGame:hover{
    border-color: var(--lightHover);
}  */

#btnContainer {
    display: flex;
    justify-content: center;
    gap: var(--gap);
}

/* #btnContainer > button {
    width: 40%;
} */