:root {
    /* COLORS */
    --Text: #fff;
    --Darkbackground: #282828;

    --lightHover: #fad27b;
    --focusing: #f3b52f;
    --borderLight: #dad2d2;

    --transparet: #ffffff00;

    /* Font sizes */
    --fontSizeHeader: 32px;
    --fontSizeText: 16px;
    --fontSizeTextSmall: 12px;

    /* Borders & gap */
    --gap: 20px;
}
